* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background: url(/img/puy.jpeg) no-repeat;
  background-size: 1660px;
  background-position: center;
}

header {
  width: 100%;
  padding-top: 90px;
  padding-left: 85px;
  padding-right: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 85px;
  border-top: 70px;
  position: relative;
  color: #557c7e;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500px;
  letter-spacing: 1px;
}

header .navigation a {
  color: #000;
  text-decoration: none;
  margin-right: 70px;
  margin-top: 01px;
  font-size: 15px;
  border: 2px solid #557c7e;
  border-radius: 100px;
  padding: 5px 18px;
}

header .navigation a:not(:last-child) {
  margin-right: 80px;
}

header .navigation a:hover {
  color: antiquewhite;
  background: #557c7e;
  line-height: normal;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}
.content h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 120px;
  padding-top: 80px;
  color: #557c7e;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 40;
  letter-spacing: 1px;
  line-height: 90px;
  margin-bottom: 2px;
}

.content h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 120px;
  padding-bottom: 100px;
  color: #557c7e;
  font-size: 61px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 20px;
  line-height: 99px;
}

.content p {
  margin-left: 159px;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 2px;
  padding-top: 30px;
  margin-left: 10px;
}

.content p a {
  padding-top: 20px;
  text-decoration: none;
}

.content .info-btn {
  padding-top: 20px;
  margin-left: 120px;
  color: #fff;
  background: #cead94;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 30px;
  border-radius: 9px;
  transition: 0.3s;
}
.content .info-btn:hover {
  text-decoration: none;
  background: #245749;
}

.titik {
  color: #4e7274;
  font-size: 20px;
  padding-top: 55px;
  margin-left: 219px;
}
