img{
    width: 70px;
    padding-top: 13%;
}
/*
.label {
  padding-top: 20px;
  margin-left: 120px;
  color: #fff;
  background: #cead94;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 30px;
  border-radius: 9px;
  transition: 0.3s;
}
.label:hover{
  text-decoration: none;
  background: #245749;
 }

 .labeel {
  color: #fff;
  background: #cead94;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 5px 5px;
  border-radius: 9px;
  transition: 0.3s;
 }

 .labeel:hover{
   text-decoration: none;
   background: #245749;
  }
*/



.label a {
  padding-top: 20px;
  margin-left: 12px;
  color: #000000;
  background: #c4c4c4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7px 90px;
  border-radius: 9px;
  transition: 0.3s;
}

.label a:hover{
  color: white;
  background: #176d79;
 }

 
.labeel a {
  padding-top: 20px;
  margin-left: 12px;
  color: #000000;
  background: #c4c4c4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7px 86px;
  border-radius: 9px;
  transition: 0.3s;
}

.labeel a:hover{
  color: white;
  background: #176d79;
 }
